<div class="l-constrained">
    {{#link-to 'apps' class="slameter-branding"}}
        <span class="branding-icon"></span>
        <h1 class="branding-header">SLAmeter</h1>
    {{/link-to}}
    <nav class="main-nav">
        <ul class="horizontal-navlist">
            {{#each app in apps}}
                <li class="navlist-item">
                    {{#link-to app.name class="navlist-item-target"}}
                        <span {{bind-attr class=":text-icon :icon-24-left app.config.iconClass"}}>
                            {{app.title}}
                        </span>
                    {{/link-to}}
                </li>
            {{/each}}
            <li class="navlist-item">
                {{#link-to 'about' class="navlist-item-target"}}
                    <span class="text-icon icon-24-left icon-info">About</span>
                {{/link-to}}
            </li>
        </ul>
    </nav>
</div>