<div class="l-content-wrapper-centered l-constrained">
    {{#slameter-plate title="Not found"}}
        <br>
        <div style="text-align: left">
            <h1>Not Found</h1>
            {{message}}
            <br><br>
            {{link-to "Go to index." "apps"}}
        </div>
    {{/slameter-plate}}
</div>



