{{toolbox-button toolName="reloadTool" action="reloadModules" icon="spinner-5" title="reload all"}}
<div class="toolbox-separator"></div>
{{toolbox-button-toolopener toolName="filterTool" action="toggleTool" isActive=filterIsOpened icon="filter" title="global filter"}}