<div class="l-constrained">

    {{!--     <div class="l-main"> --}}

    {{#if langSk}}
        <div class="l-main-sk">

            <h2>Ciele výskumnej skupiny MONICA</h2>

            <ul>
                <li>
                    Vývoj nástrojov a metód pre získavanie informácií o IP tokoch - hlavným cieľom je vývoj nástroja SLAmeter v súlade so štandardom IPFIX a PSAMP.
                    Popri práci na implementácii štandardu IPFIX pracujeme tiež na optimalizácii samotného monitorovania a pridávaní niektorých ďalších funkcií,
                    ktoré nie sú zahrnuté v špecifikácii IPFIX.
                </li>
                <li>
                    Vývoj nástrojov využívajúcich monitorovanie v iných aplikačných odvetviach - hlavným cieľom je využitie informácií získaných pomocou nástroja SLAmeter
                    na rôzne účely, ako napríklad použitie pre potreby účtovníctva, vyhodnocovanie SLA, detekcie narušenia bezpečnosti, a dopravného inžinierstva.
                </li>
                <li>
                    Experimentálne nasadenie monitorovacích nástrojov v laboratórnom prostredí a reálnych sieťových podmienkach s cieľom testovania funkčnosti
                    a interoperability, analýzu výkonu a získania spätnej väzby pre ich ďalší vývoj.
                </li>
            </ul>

            <p>
                Dnešné počítačové siete sú navrhnuté tak, aby prenášali video, zvuk a dáta v rovnakom čase.
                Tento druh prenosu je poskytovaný na skonvergovaných sieťach, ktoré namiesto toho aby používali osobitné prepojenie pre každý druh spojenia
                si dokážu vystačiť s jediným skonvergovaným prepojením.
                Aby sa zabezpečila požadovaná kvalita a výkon týchto sietí, je nevyhnutné monitorovať prevádzku na týchto sieťach.
            </p>

            <p>
                Meraním a analyzovaním parametrov sieťovej prevádzky je možné:
            </p>
            <ul>
                <li>zabezpečiť funkčnosť rôznych multimediálnych aplikácií,</li>
                <li>zabezpečiť siete a ich používateľov voči vonkajším ale aj vnútorným útokom,</li>
                <li>použiť systémy na detekciu prienikov do sietí,</li>
                <li>kontrolovať spĺňanie podmienok uvedených v dohode o poskytovaní služieb (SLA),</li>
                <li>zabrániť strate alebo únikom citlivých informácií, atď.</li>
            </ul>

            <p>
                Z tohto dôvodu má meranie sieťovej prevádzky zásadnú úlohu v riadení dnešných moderných počítačových sietí a ich služieb.
            </p>

            <p>
                Jednou z nadôležitejších úloh v každej počítačovej sieti je monitorovanie jej prevádzky.
                Vďaka tejto úlohe dokážu administrátori lepšie porozumieť sieti a prispôsobiť jej správanie všetkým prípadným situáciám.
            </p>

        </div>

    {{else}}
        <div class="l-main">

            <h2>Objectives of MONICA</h2>

            <ul>
                <li>
                    Development of tools and methods for obtaining IP flow information – the main goal is the development of the BasicMeter tool
                    in conformity with the IPFIX and PSAMP.
                    Along with the work on IPFIX implementation we also work on optimization of the monitoring itself
                    and adding some further features which are not covered by the IPFIX specification.
                </li>
                <li>
                    Development of tools utilizing the monitoring in different application domains – the main goal is
                    the utilization of the information obtained by the BasicMeter tool for different purposes such as usage-based accounting,
                    SLA evaluation, intrusion detection, and traffic engineering.
                </li>
                <li>
                    Experimental deployment of the monitoring tools in a laboratory environment and real networks with the goals of testing the functionality
                    and interoperability, performance analysis and feedback acquirement for further development.
                </li>
            </ul>

            <p>
                Today’s computer networks are designed to transmit video, sound and data at the same time.
                This kind of transmission is provided by converged networks,
                which instead of setting own separate links for each traffic type make do with only one converged link.
                In order to ensure the desired quality and performance of these networks is important to monitor their traffic.
            </p>

            <p>
                By measuring and analyzing network traffic parameters:
            </p>
            <ul>
                <li>the function of various multimedia applications can be ensured,</li>
                <li>the network and its users can be secured against external or internal attacks,</li>
                <li>Intrusion Detection Systems can be applied,</li>
                <li>fulfill the conditions specified in the Service Level Agreement (SLA),</li>
                <li>the lost or leakage of sensitive information can be prevented, etc.</li>
            </ul>

            <p>
                For this reason monitoring has a significant role in the management of today’s modern computer networks and their services.
            </p>

            <p>
                One of the most important tasks in any computer network is traffic monitoring.
                It helps administrators to understand the network and adapt its behavior to any possible situation.
            </p>

        </div>

    {{/if}}

    {{!--    </div> --}}
</div>