<span class="client-name">{{accuser.name}}</span>
<span class="client-email">({{accuser.email}})</span>
<br>
<span class="client-netinfo">
    ID: {{accuser.id}},
    Organization: {{accuser.organization}}
</span>
