{{#custom-scrollbar theme="blue-no-overlay" class=toolContentClass}}
<div class="basic-filter">
    <div class="submit-basic-filter-right">
        {{yield}}
        <div class="submit-basic-filter">
            <button type="submit" {{action "apply"}}> Submit </button>
        </div>
    </div>
</div>
{{/custom-scrollbar}}

