<span class="client-name">{{client.name}}</span>
<span class="client-email">{{client.email}}</span>
<br>
<span class="client-netinfo">
    IP: {{client.ip_address}},
    Exporter ID: {{client.exporter.exporter_id}}
</span>
