<section class="l-small-page">
    <header class="slameter-branding-plate">
        <span class="slameter-icon"></span>
        <hgroup>
            <h1 class="slameter-header">SLAmeter</h1>
            <h2>{{title}}</h2>
        </hgroup>
    </header>
    {{yield}}
</section>
