{{#if canBeExpandedInWall}}
    {{toolbox-button-toggler toolName="brickExpandTook" action="expandInWall" isActive=expandedInWall icon="embed" title="expand"}}
{{/if}}
{{toolbox-button toolName="reloadTool" action="reload" icon="spinner-5" title="reload"}}
<div class="toolbox-separator"></div>
{{toolbox-button-toolopener toolName="filterTool" action="toggleTool" icon="filter" title='filter'}}